{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "0.9.1"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.2"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.0"}}},
   {ljson, ".*", {git, "git://github.com/lfex/ljson.git", "master"}},
   {lfest, ".*", {git, "git://github.com/lfex/lfest.git", "master"}},
   {lhc, ".*", {git, "git://github.com/sdytr/lhc.git", "master"}},
   {econfig, ".*", {git, "git://github.com/benoitc/econfig.git", {tag, "0.4.2"}}}
  ]}.
